/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Fira Sans';
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 600;
  font-family: 'Fira Sans';
}

h1 { margin-bottom: 1em; }
h2 { margin: 2em 0 }
p { margin: 1em 0; }

a         { color: rgb( 51, 102, 153); }
a:visited { color: rgb( 51, 102, 153); }
a:hover   { color: rgb(170, 170, 170); }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  margin-top: 1%;
}

ul.posts span {
  color: #aaa;
  font-family: 'Fira Mono', monospace;
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.gravatar {
  float: right;
  margin-top: -2%;
}

.gravatar img {
  border-radius: 50%;
}

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 600px;
  margin: 3em auto 2em;
  padding: 0 2%;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-size: 300%;
  margin-top: 3%;
}

.site .header h1.title a,
.fa-rss {
  color: rgb(255, 128, 62);
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 2em;
  overflow: hidden;
}

.site .footer .gravatar img {
  border-radius: 5px;
  margin-right: 13px;
  float: left;
}

.site .footer .bio {
  width: 500px;
  float: left;
}

.site .footer .disclaimer {
  width: 230px;
}

.site .footer .links {
  margin-top: 15px;
  float: left;
  width: 60%;
}

@media (max-width: 600px) {
  .site .footer .links {
    width: 100%;
  }
}

.site .footer .links ul {
  -moz-columns: 3 190px;
  -moz-column-gap: 15px;
  -webkit-columns: 3 190px;
  -webkit-column-gap: 15px;
  list-style: none;
}

.site .footer .links ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.site .footer .links .fa {
  vertical-align: middle;
  margin-right: 10px;
}

.site .footer .links a {
  text-decoration: none;
}

.site .footer .mdn {
  float: left;
  margin-top: 25px;
}

.site .footer .mdn img {
  width: 100%;
  max-width: 498px;
}

.site .footer .disclaimer{
  width: 100%;
  float: left;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post img {
  max-width: 100%;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* @media
/*
/*****************************************************************************/

@media (max-width: 600px) {
  .gravatar {
    display: none;
  }
  .site .header h1.title {
    font-size: 175%;
  }
  ul.posts li {
    margin: 0 0 1em;
 }
 .site .footer .links ul {
  -moz-columns: 3 150px;
  -moz-column-gap: 15px;
  -webkit-columns: 3 150px;
  -webkit-column-gap: 15px;
  list-style: none;
}
  .site .footer .bio {
    width: 100%;
  }
  .site .footer .disclaimer {
    width: 100%;
  }
}
