/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Fira Sans';
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
h2 { margin: 2em 0 }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: rgb(51, 102, 153); }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: 'Fira Mono', monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 600px;
  margin: 3em auto 2em;
  padding: 0 2%;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-size: 300%;
}

.site .header h1.title a {
  color: rgb(255, 128, 62);
}

.site .header h1.title a:hover {
  color: rgb(170, 170, 170);
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .column {
  float: left;
  margin-right: 3em;
}

.site .footer .column a {
  color: #8085C1;
}

.site .footer .column ul {
  margin: 1em 0;
  list-style: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* @media
/*
/*****************************************************************************/

@media (max-width: 600px) {
  .site .header h1.title {
    font-size: 175%;
  }
  ul.posts li {
    margin: 0 0 1em;
 }
}
