/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
html {
  margin-left: calc(100vw - 100%);
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 600;
}

h1 {
  margin-bottom: 1em;
  font-size: 200%;
  line-height: 1.2;
}

h2 {
  margin: 2em 0 0;
  line-height: 1.2;
  font-size: 200%;
}

p { margin: 1em 0; }

a         { color: rgb( 51, 102, 153); text-decoration: none; }
a:visited { color: rgb( 51, 102, 153); }
a:hover   { text-decoration: underline; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin: 2em 0;
}

ul.posts li {
  margin-top: 1%;
}

ul.posts span {
  font-family: monospace;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.gravatar {
  float: right;
  margin-top: -38px;
}

.gravatar img {
  border-radius: 50%;
}

.site {
  max-width: 800px;
  margin: 3em auto 2em;
    line-height: 1.5em;
}

.site .header {
  margin: 0 0 50px 0;
  border-bottom: 4px solid #eee;
}

.site .header a.title {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 220%;
  color: #666;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 2em;
  overflow: hidden;
}

.site .footer .bio {
  max-width: 500px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post img {
  max-width: 100%;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* @media
/*
/*****************************************************************************/

@media (max-width: 600px) {
  .gravatar {
    display: none;
  }
  .site .header .title {
    font-size: 175%;
  }
  ul.posts li {
    margin: 0 0 1em;
  }
}
