<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <meta name="description" content="Florian Scholz is Technical Writer and Documentation Engineer, writes about Web platform technologies, and researches browser compatibility data. He lives in Bremen, Germany.">
        <meta name="author" content="Florian Scholz">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/syntax.css">
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="alternate" type="application/atom+xml" href="feed.xml" title="Atom feed">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <div class="gravatar">
              <img src="https://www.gravatar.com/avatar/7e6c0a216041d48fa163d471e5d71086.png?s=150"
                   alt="Florian Scholz" />
            </div>
            <a class="title" href="/">{{ site.name }}</a>
          </div>

          {{ content }}

          <div class="footer">
            
            <div class="bio">
              <p><strong>Florian Scholz</strong> is a Technical Writer and Documentation Engineer, writes about Web platform technologies, 
              and researches browser compatibility data. He lives in Bremen, Germany.</p>
              <p>
                 <a href="https://github.com/Elchi3">GitHub</a> •
                 <a href="https://developer.mozilla.org/en-US/profiles/fscholz">MDN</a> •
                 <a href="https://twitter.com/floscholz">Twitter</a> •
                 <a href="https://www.linkedin.com/in/florianscholz/">LinkedIn</a> •
                 <a href="https://www.flickr.com/photos/florianscholz/">Flickr</a> •
                 <a href="mailto:fs@___REMOVE___florianscholz.com">E-Mail</a> •
                 <a href="{{ site.url }}/imprint/">Imprint</a>
              </p>
            </div>

          </div>
        </div>

    </body>
</html>
