<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <meta name="description" content="Mozillian, web developer, Open Web lover, wannabe photographer, globetrotter.">
        <meta name="author" content="Florian Scholz">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/assets/syntax.css">
        <link rel="stylesheet" href="/assets/fira.css">
        <link rel="stylesheet" href="/assets/main.css">

        <link rel="alternate" type="application/atom+xml" href="feed.xml" title="Atom feed">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">

            <div class="gravatar">
              <img src="http://www.gravatar.com/avatar/7e6c0a216041d48fa163d471e5d71086.png"
                   alt="Florian Scholz" />
            </div>
            
            <div class="bio">
              <p><strong>Florian Scholz</strong>, Technical Writer at <a href="http://mozilla.org">Mozilla</a>,
                Software Developer, Open Source Enthusiast. Bremen, Germany.</p>
            </div>

            <br style="clear: both" />

            <div class="links">
              <ul>
                 <li>Follow <a href="http://twitter.com/floscholz">@floscholz</a>
                 <li>Code <a href="https://github.com/Elchi3">GitHub</a>
                 <li>Work <a href="http://standu.ps/user/fscholz">Standup</a>
                 <li>Docs <a href="https://developer.mozilla.org/en-US/profiles/fscholz">MDN</a>
                 <li>Photos <a href="http://www.flickr.com/photos/florianscholz/">Flickr</a>
                 <li>Feed <a href="{{ site.url }}/feed.xml">Atom</a>
                 <li>Mail <a href="mailto:fs@REMOVEflorianscholz.com">fs@<span style="display:none">helloworld</span>florianscholz.com</a>
               </ul>
               <p class="disclaimer">The opinions expressed here are my own and do not
               necessarily represent those of current or past employers.
               <a href="{{ site.url }}/imprint/">Imprint</a>.</p>
            </div>

            <div class="mdn">
              <a href="http://developer.mozilla.org">
                <img src="/assets/img/mdn_promobanner_240x240px.jpg"
                   alt="Open docs for an open Web" />
              </a>
            </div>

          </div>
        </div>

    </body>
</html>
